/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/
@font-face {
  font-family: 'PriceDown';
  src: url('../fonts/pricedow-webfont.eot');
  src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pricedow-webfont.woff') format('woff'), url('../fonts/pricedow-webfont.ttf') format('truetype'), url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #000;
  color: #ff9800;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
#wrapper,
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: -o-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #3c2e20 0%, #000000 100%);
}
#background {
  z-index: -9999;
}
#window {
  width: 350px;
  height: 300px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#window h2 {
  font-family: "PriceDown", sans-serif;
  font-size: 300%;
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px 0px 30px 30px;
}
#window p {
  font-size: 110%;
}
input {
  color: #ff9800;
  font-size: 110%;
  font-weight: 600;
  background: #000000;
  width: 100%;
  display: block;
  padding: 7px 15px;
  margin-top: 4px;
  margin-bottom: 7px;
  border: 1px solid #ff9800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input:hover {
  background: #222222;
}
input#loginForm-login_btn {
  margin-top: 25px;
  cursor: pointer;
}
#rectangles-up,
#rectangles-bottom {
  width: 50%;
  height: 50%;
  background-size: cover;
  position: absolute;
  z-index: -9999;
}
#rectangles-up img,
#rectangles-bottom img {
  width: 100%;
  height: auto;
}
@media (max-width: 480px) {
  #window {
    width: 100%;
  }
}
