/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/
@font-face {
  font-family: 'PriceDown';
  src: url('../fonts/pricedow-webfont.eot');
  src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pricedow-webfont.woff') format('woff'), url('../fonts/pricedow-webfont.ttf') format('truetype'), url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #000;
  color: #ff9800;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}
#wrapper,
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: -o-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3c2e20 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #3c2e20 0%, #000000 100%);
}
#background {
  z-index: -9999;
}
.nav .menu {
  color: inherit;
  font-size: inherit;
  background: none;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  outline: 0;
  cursor: pointer;
}
.nav li:hover {
  color: #fff;
}
