<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<h:head>
		<title>Grand Rent Auto - Samochody</title>
		<ui:include src="template.xhtml"/>
		<link rel="stylesheet" href="css/edition.css"/>
		<link rel="stylesheet" href="css/jquery.ui.datepicker.css"/>
		<script src="js/libs/jqueryui/jquery-ui.js"></script>
		<script src="js/datepicker.js"></script>
	</h:head>
    <h:body>
		<div id="wrapper">
			<div id="window">
				<h2>Rezerwacja</h2>
				<h:form id="searchForm">
					<p>Wypożycz auto od: </p>
					<h:inputText value="#{customerRental.startDate}" class="datepicker">
						<f:convertDateTime pattern="d-M-yyyy" />
					</h:inputText>
					<p>do </p>
					<h:inputText value="#{customerRental.endDate}" class="datepicker">
						<f:convertDateTime pattern="d-M-yyyy" />
					</h:inputText>
					<h:commandButton id="searchCars" value="Szukaj" action="#{customerRental.searchFreeCars()}"/>
					 
				</h:form>
				<h:form id="resForm">
					<c:if test="#{customerRental.cars.size() > 0}">
						<h:dataTable value="#{customerRental.cars}" var="c">
							<h:column>
								#{c.model}
							</h:column>

							<h:column>
								#{c.registrationNumber}
							</h:column>

							<h:column>
								<h:commandButton action="#{customerRental.makeReservation(c,userBean.client.id)}" value="Rezerwuj samochod" />
							</h:column>
						</h:dataTable>
					</c:if>
				</h:form>
			</div>
		</div>
    </h:body>
</html>

