/* 
    Created on : 2013-11-18, 10:07:18
    Author     : KWyszomierski
	KULER theme: https://kuler.adobe.com/Copy-of-1944mustang-color-theme-3167658/
*/
@font-face {
  font-family: 'PriceDown';
  src: url('../fonts/pricedow-webfont.eot');
  src: url('../fonts/pricedow-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pricedow-webfont.woff') format('woff'), url('../fonts/pricedow-webfont.ttf') format('truetype'), url('../fonts/pricedow-webfont.svg#pricedownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#wrapper th,
#wrapper td {
  text-align: left;
}
#wrapper td {
  background: #000;
}
#wrapper #client_list table {
  min-width: 250px;
  max-width: 100%;
  margin: 0 auto;
}
input,
.custom_select {
  color: #ff9800;
  font-size: 110%;
  background: #000000;
  width: 100%;
  display: block;
  padding: 7px 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid #ff9800;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
input:hover,
.custom_select:hover {
  background: #222222;
}
.custom_select:after {
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  content: 'V';
}
#client_list label {
  padding: 2px 5px;
}
.radio_button input[type="radio"] {
  width: 15px;
  height: 15px;
  padding: 0px;
  margin: 5px 0px 3px 0px;
}
.radio_button input[type="radio"]:checked {
  background: #ff9800;
}
.radio_button td {
  padding-right: 10px;
}
#window h2 {
  font-family: "PriceDown", sans-serif;
  font-size: 300% !important;
  font-weight: 100 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0px 0px 30px 30px;
}
form#edit_form {
  width: 250px;
  padding-top: 50px;
  margin: 0 auto;
}
form#edit_form p {
  font-size: 110%;
  padding: 4px 0px 2px 0px;
}
form#searchForm {
  width: 625px;
  padding-top: 20px;
  margin: 0 auto;
}
form#searchForm p {
  font-size: 110%;
  /*		background: @color1;
			padding: 3px 10px;
			border: 1px solid @color2;*/
}
form#searchForm input,
form#searchForm p {
  display: inline-block;
}
form#searchForm input {
  width: 120px;
  padding: 3px 10px;
  margin-left: 5px;
  margin-right: 5px;
}
form#resForm table {
  min-width: 250px;
  max-width: 100%;
  margin: 0 auto;
}
form#resForm table td {
  padding-left: 7px;
  padding-right: 7px;
}
form#raport {
  width: 50%;
  margin: 30px auto;
}
form#raport textarea {
  color: #7e8aa2;
  font-family: Helvetica, Arial, sans-serif;
  background: #222222;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  height: 200px;
  margin: 0px 0px 60px 0px;
  border: 1px solid #ff9800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Datepicker */
#ui-datepicker-div {
  background: #000000;
  border: 1px solid #263248;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  cursor: pointer;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  left: 0px;
  margin-left: 0px !important;
}
.ui-datepicker-week-end {
  text-align: right;
}
.ui-state-hover,
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  color: #7e8aa2;
  top: 2px !important;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px !important;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px !important;
}
.ui-datepicker-calendar a.ui-state-default {
  color: #2f3e59;
}
.ui-datepicker-calendar a.ui-state-active {
  color: #f6f6f6;
  background: #222222;
}
.ui-datepicker-calendar a.ui-state-hover {
  color: #7e8aa2;
  background: #222222;
}
@media (max-width: 767px) {
  table {
    width: 90%;
  }
  .radio_button input[type="radio"] {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  .radio_button label {
    margin-left: 7px;
    display: inline-block;
  }
  form#raport {
    width: 75%;
  }
}
@media (max-width: 480px) {
  table {
    width: 100%;
  }
  .radio_button input[type="radio"] {
    width: 30px;
    height: 30px;
    display: inline-block;
  }
  .radio_button label {
    margin-left: 7px;
    display: inline-block;
  }
  form#raport {
    width: 100%;
  }
}
