<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Grand Rent Auto</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/reset.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<script src="js/libs/jquery/jquery.js"></script>
		<script src="js/libs/modernizr/modernizr.js"></script>
		<script src="js/script.js"></script>
    </h:head>
    <h:body>
        <div id="wrapper">
            <header role="banner">
                <nav class="navbar" role="navigation">
                    <div class="navbar-inner">
                        <button class="btn-navbar animated" data-target=".nav-animate" data-toggle="animate" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
						<div id="small_logo">
							<a href="index.xhtml">Grand Rent Auto</a>
						</div>
						<div class="nav-animate">
							<ul class="nav right">
								<li><a href="login.xhtml">Login</a></li>
							</ul>
						</div>
					</div>
                </nav>
            </header>
			<div id="container">
<!--						<div id="logo">
							<h1>Grand</h1><h1>Rent</h1><h1>Auto</h1>
						</div>-->
				<div id="slider" class="content">
					<div id="slide-cont">
						<div class="slide">
							<div class="picture">

							</div>
							<div class="description">
								<h2>Poczuj wiatr we włosach!</h2>
								<p>W ofercie wypasione auta!</p>
							</div>
						</div>
						<div class="slide">
							<div class="picture">

							</div>
							<div class="description">
								<h2>O mamo!</h2>
								<p>Takiej oferty jeszcze nie było!</p>
							</div>
						</div>
						<div class="slide">
							<div class="picture">

							</div>
							<div class="description">
								<h2>Tylko dziś!</h2>
								<p>Kup żubra a oposa dostaniesz gratis!</p>
							</div>
						</div>
						<div class="slide">
							<div class="picture">

							</div>
							<div class="description">
								<h2>American muscle</h2>
								<p>Gratka dla koneserów!</p>
							</div>
						</div>
					</div>
<!--					<div class="info"></div>-->
					<div class="arrow left"></div>
					<div class="arrow right"></div>
				</div>
				
				<div class="shadow-inner">
					
				</div>
			</div>
			<footer>
				<div class="content">
					<div class="authors">
						<br />
						Autorzy:<br />
						Kamil Wyszomierski, 
						Dariusz Lewandowski, 
						Marcin Piotrowski
					</div>
				</div>
			</footer>
        </div>
    </h:body>
</html>

