<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<h:head>
		<title>Grand Rent Auto - Samochody</title>
		<ui:include src="template.xhtml"/>
		<link rel="stylesheet" href="css/edition.css"/>		
	</h:head>
    <h:body>
		<div id="wrapper">
			<div id="window">
				<h2>Samochody</h2>
				<h:form id="client_list">
					<f:view>
						<h:dataTable value="#{carBean.cars}" var="c">
							<h:column>
								<f:facet name="header">
									<h:outputText value="Marka i model" />
								</f:facet>
								<h:outputLabel value="#{c.model}" />
							</h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="Numer rejestracji" />
								</f:facet>
								<h:outputLabel value="#{c.registrationNumber}" />
							</h:column>
							
							<h:column>
								<h:commandButton action="#{carBean.removeCar(c.id)}" value="Usuń" />
							</h:column>

							<h:column>
								<h:commandButton action="#{carBean.editAction(c)}" value="Edytuj" class="edit_btn" />
							</h:column>
						</h:dataTable>
					</f:view>
				</h:form>
			</div>
			<div>
				<h:form id="edit_form">
					<p>Marka i model</p><h:inputText value="#{carBean.carName}"/>
					<p>Numer rejestracji</p><h:inputText value="#{carBean.carId}"/>
					<h:commandButton action="#{carBean.addCar()}" value="Dodaj/Zatwierdź"/>
				</h:form>
			</div>
		</div>
    </h:body>
</html>

